<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OMHClient.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>UniversalFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1EC913321A39836000D236A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1EC9133D1A39836000D236A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1EC913521A39857E00D236A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1EC9135C1A39857E00D236A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1EC913701A39875F00D236A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1EC9137A1A39876000D236A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1EC913C41A398AB700D236A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1EC913CE1A398AB700D236A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1EC913E11A39988600D236A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
